<section class="home-container">
  <h1>{{ 'HOME.TITLE' | translate }}</h1>
  @if (conferences() === undefined) {
    <p>{{ 'HOME.LOADING' | translate }}</p>
  } @else if (conferences()?.length === 0) {
    <p>{{ 'HOME.NO_CONFS' | translate }}</p>
  } @else {
    <p-dataview [value]="conferences() || []" [paginator]="true" [rows]="12" layout="list">
      <ng-template #list let-items>
        <div class="conference-list">
          @for (conf of items; track conf.id) {
            <article
              class="conference-card"
              role="button"
              tabindex="0"
              (click)="openConference(conf)"
              (keydown.enter)="openConference(conf)"
              (keydown.space)="openConference(conf); $event.preventDefault()"
            >
              <h2>{{ conf.name }}</h2>
              <p class="conference-location">{{ conf.location }}</p>
              <ul class="conference-dates">
                @for (date of conferenceToDates(conf); track date) {
                  <li>{{ date }}</li>
                }
              </ul>
            </article>
          }
        </div>
      </ng-template>
    </p-dataview>
  }
</section>
