<section class="home-container">
  <div class="home-header">
    <h1>{{ 'HOME.TITLE' | translate }}</h1>
    @if (canCreateConference()) {
      <button pButton type="button" icon="pi pi-plus" [label]="'HOME.CREATE_CONF' | translate" (click)="createConference()"></button>
    }
  </div>
  @if (conferences() === undefined) {
    <p>{{ 'HOME.LOADING' | translate }}</p>
  } @else if (conferences()?.length === 0) {
    <p>{{ 'HOME.NO_CONFS' | translate }}</p>
  } @else {
    <p-dataview [value]="conferences() || []" [paginator]="true" [rows]="12" layout="list">
      <ng-template #list let-items>
        <div class="conference-list">
          @for (conf of items; track conf.id) {
            <article
              class="conference-card"
              role="button"
              tabindex="0"
              (click)="openConference(conf)"
              (keydown.enter)="openConference(conf)"
              (keydown.space)="openConference(conf); $event.preventDefault()"
            >
              <img class="conference-logo" [src]="conf.logo" [alt]="conf.name + ' logo'" />
              <div class="conference-content">
                <div class="conference-line-1">
                  <h2>{{ conf.name }}</h2>
                  <span class="conference-edition">{{ conf.edition }}</span>
                  @if (conferenceDateRange(conf); as range) {
                    @if (range.start && range.end) {
                      <span class="conference-dates">
                        {{ range.start | date : 'dd MMM yyyy' }}
                        @if (range.start !== range.end) {
                          - {{ range.end | date : 'dd MMM yyyy' }}
                        }
                      </span>
                    }
                  }
                </div>

                <div class="conference-line-2">
                  <span class="conference-location">{{ conf.location }}</span>
                  @if (cfpDateRange(conf); as cfpRange) {
                    <span class="conference-cfp-dates">
                      CFP: {{ cfpRange.start | date : 'dd MMM yyyy' }} - {{ cfpRange.end | date : 'dd MMM yyyy' }}
                    </span>
                  }
                </div>
              </div>
            </article>
          }
        </div>
      </ng-template>
    </p-dataview>
  }
</section>
