<section class="conference-manage-container">
  <p-confirmdialog></p-confirmdialog>
  <h1 class="manage-title">{{ conferenceTitle() }}</h1>
  <div class="actions" *ngIf="conferenceId() as id">
    <div class="action-category">
      <div class="action-category-title">{{ 'CONFERENCE.MANAGE.ACTIONS.CATEGORY_GENERAL' | translate }}</div>
      <div class="action-category-list">
        <a class="action-link" [routerLink]="['/conference', id, 'config', 'general']">
          <i class="pi pi-cog"></i>
          <span>{{ 'CONFERENCE.CONFIG.GENERAL.TAB' | translate }}</span>
        </a>
        <a class="action-link" [routerLink]="['/conference', id, 'config', 'session-types']">
          <i class="pi pi-tag"></i>
          <span>{{ 'CONFERENCE.CONFIG.SESSION_TYPES.TAB' | translate }}</span>
        </a>
        <a class="action-link" [routerLink]="['/conference', id, 'config', 'tracks']">
          <i class="pi pi-sitemap"></i>
          <span>{{ 'CONFERENCE.CONFIG.TRACKS.TAB' | translate }}</span>
        </a>
        <a class="action-link" [routerLink]="['/conference', id, 'config', 'rooms']">
          <i class="pi pi-building"></i>
          <span>{{ 'CONFERENCE.CONFIG.ROOMS.TAB' | translate }}</span>
        </a>
        <a class="action-link" [routerLink]="['/conference', id, 'config', 'planning-structure']">
          <i class="pi pi-calendar"></i>
          <span>{{ 'CONFERENCE.CONFIG.PLANNING_STRUCTURE.TAB' | translate }}</span>
        </a>
        <a class="action-link" (click)="confirmDeleteConference()" style="background-color: #ffebee; border-color: #ffcdd2;">
          <i class="pi pi-trash"></i>
          <span>{{ 'CONFERENCE.MANAGE.DELETE_BUTTON' | translate }}</span>
        </a>
      </div>
    </div>
    <div class="action-category">
      <div class="action-category-title">{{ 'CONFERENCE.MANAGE.ACTIONS.CATEGORY_SESSIONS' | translate }}</div>
      <div class="action-category-list">
        <a class="action-link" [routerLink]="['/conference', id, 'sessions', 'import']">
          <i class="pi pi-download"></i>
          <span>{{ 'CONFERENCE.MANAGE.ACTIONS.IMPORT' | translate }}</span>
        </a>
        <a class="action-link" [routerLink]="['/conference', id, 'allocation']">
          <i class="pi pi-calendar"></i>
          <span>{{ 'CONFERENCE.MANAGE.ACTIONS.ALLOCATION' | translate }}</span>
        </a>
        <a class="action-link" [routerLink]="['/conference', id, 'sessions']">
          <i class="pi pi-list"></i>
          <span>{{ 'CONFERENCE.MANAGE.ACTIONS.SESSIONS' | translate }}</span>
        </a>
        <a class="action-link" [routerLink]="['/conference', id, 'speakers']">
          <i class="pi pi-users"></i>
          <span>{{ 'CONFERENCE.MANAGE.ACTIONS.SPEAKERS' | translate }}</span>
        </a>
        <a class="action-link" [routerLink]="['/conference', id, 'publish']">
          <i class="pi pi-globe"></i>
          <span>{{ 'CONFERENCE.MANAGE.ACTIONS.PUBLISH' | translate }}</span>
        </a>
      </div>
    </div>
    <div class="action-category">
      <div class="action-category-title">{{ 'CONFERENCE.MANAGE.ACTIONS.CATEGORY_ACTIVITIES' | translate }}</div>
      <div class="action-category-list">
        <a class="action-link" [routerLink]="['/conference', id, 'activities']">
          <i class="pi pi-calendar-plus"></i>
          <span>{{ 'CONFERENCE.MANAGE.ACTIONS.CONFIG_ACTIVITIES' | translate }}</span>
        </a>
        <a class="action-link" [routerLink]="['/conference', id, 'activity-participation']">
          <i class="pi pi-users"></i>
          <span>{{ 'CONFERENCE.MANAGE.ACTIONS.ACTIVITY_PARTICIPATION' | translate }}</span>
        </a>
        @for (activity of managedActivities(); track activity.id) {
        <a class="action-link" [routerLink]="['/conference', id, 'activities', activity.id, 'admin']">
          <i class="pi pi-chart-bar"></i>
          <span>{{ activity.name }}</span>
        </a>
        }
      </div>
    </div>
  </div>

  @if (deleteError() && conferenceId()) {
  <div class="danger-zone">
      <p class="delete-error">{{ deleteError() }}</p>
  </div>
  }
  @if (conferenceId(); as id) {
    <app-conference-manage-dashboard [conferenceId]="id" [conference]="conference()"></app-conference-manage-dashboard>
  }

</section>
