@if (!rooms() || rooms().length === 0) {
  <p>No rooms defined.</p>
} @else {
  <div class="form-panel">
    <div class="form-section">
      <label for="beginTime" class="form-label">{{ 'CONFERENCE.CONFIG.PLANNING_STRUCTURE.BEGIN_DAY_TIME' | translate }}</label>
      <p-datepicker class="time-picker-small" 
        [(ngModel)]="beginTime" stepMinute="5"
        [showTime]="true" [timeOnly]="true" hourFormat="24" size="small"
        (onSelect)="changeBeginTime($event)"></p-datepicker>
    </div>
    <div class="form-section" style="padding-left:10px;">
      <label for="endTime" class="form-label">{{ 'CONFERENCE.CONFIG.PLANNING_STRUCTURE.END_DAY_TIME' | translate }}</label>
      <p-datepicker class="time-picker-small"
        [(ngModel)]="endTime" stepMinute="5"
        [showTime]="true" [timeOnly]="true" hourFormat="24" size="small"
        (onSelect)="changeEndTime($event)"></p-datepicker>
    </div>
  </div>  
  <div class="planning-parent">
    <div class="planning">
      <div class="room-grid" [style.--nb-rooms]="enabledRooms().length">
        <!-- Header ligne -->
        <div class="header-cell action-header-cell" (click)="menu.toggle($event)">
          <div>
            <span class="pi pi-bars"></span>
            <p-menu [model]="menuItems" [popup]="true" #menu appendTo="body"/>
          </div>
        </div>
        @for (room of enabledRooms(); track room.id) {
          <div class="header-cell room-header-cell">{{ room.name }}</div>
        }
        
        <!-- Tick with Grid -->
        @for (tick of ticks(); track tick.label) {
          <div class="tick" aria-hidden="true">
            @if (tick.main) { 
              <span class="tick-label">{{ tick.label }}</span>
            }
          </div>
          @for (room of enabledRooms(); track room.id) {
            <div class="tick-line" aria-hidden="true" (click)="onSlotAdd(room, tick)">
            </div>
          }
        }
      </div>
      <div class="slots">
        <!-- Slots -->
        @for (room of enabledRooms(); track room.id) {
          @if (slotsByRoom().has(room.id)) {
            @for (slot of getSlotsByRoom(room.id); track slot.id) {
              @let position = getSlotPosition(slot);
              @let slotType = getSlotType(slot.slotTypeId);
              @let sessionType = getSessionType(slot.sessionTypeId);
              <div class="slot" 
                [style.--duration]="position.durationtick" 
                [style.--start-tick]="position.startTick"
                [style.--room-col-idx]="position.roomColIdx"
                [style.backgroundColor]="slotType?.isSession ? sessionType?.color : slotType?.color"
                (click)="onSlotEdit(slot)">
                
                <span class="slot-title">
                  @if (slotType?.isSession) {
                    {{ sessionType?.name }}
                  } @else {
                    {{ slotType?.name?.[defaultLanguage()] }}
                  }
                </span>
                <span class="slot-time">{{ slot.startTime}}-{{ slot.endTime }}</span>
              </div>
            }
          }
        }
      </div>
    </div>
  </div>
}

<p-dialog [modal]="true" [visible]="slotEditorVisible()" 
  header="{{ 'CONFERENCE.CONFIG.SLOT_EDITOR.TITLE' | translate }}"
  (onHide)="onSlotEditCancel()">
  @if (editedSlot()) {
    <app-slot-editor  
      [slot]="editedSlot()!"
      [rooms]="rooms()"
      [slotTypes]="slotTypes()"
      [sessionTypes]="sessionTypes()"
      [day]="day()"
      (save)="onSlotSave($event)"
      (cancel)="onSlotEditCancel()"
      (remove)="onSlotEditRemove($event)">
    </app-slot-editor>
  }
</p-dialog>
<p-dialog [modal]="true" [visible]="copyRoomVisible()" (onHide)="copyRoomVisible.set(false)"
  header="{{ 'CONFERENCE.CONFIG.PLANNING_STRUCTURE.COPY_ROOM_TO_ROOM' | translate }}">
  <app-copy-roorm-to-room 
    [rooms]="rooms()"
    [slots]="day().slots"
    (newSlots)="createSlots($event)">
  </app-copy-roorm-to-room>
</p-dialog>
<p-dialog [modal]="true" [visible]="roomSelectorVisible()" (onHide)="roomSelectorVisible.set(false)"
  header="{{ 'CONFERENCE.CONFIG.PLANNING_STRUCTURE.ROOM_SELECTOR' | translate }}">
  <div class="config-form room-form">
    <label class="form-label">{{ 'CONFERENCE.CONFIG.PLANNING_STRUCTURE.DAY' | translate }}: {{day().date}}</label>
    <p class="room-warning">{{ 'CONFERENCE.CONFIG.PLANNING_STRUCTURE.ROOM_DISABLING_WARNING' | translate }}</p>
    @for(dr of dayRooms(); track dr.room.id) {
      <div class="form-section">
        <p-toggleswitch [(ngModel)]="dr.enable" (onChange)="toggleRoom(dr.room)"></p-toggleswitch>
        <label class="form-label room-label">{{ dr.room.name }} ({{getSlotsByRoom(dr.room.id).length}} slots)</label>
      </div>
    }
  </div>
</p-dialog>
