.form-panel {
    display: flex;
    flex-direction: row;
    justify-content: left;

  .form-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .form-label {
      font-weight: 600;
      color: #333;
      font-size: 0.95rem;

      .required {
        color: #e74c3c;
        margin-left: 0.25rem;
      }
    }
    .p-datepicker {
      border: 0px !important;
      box-shadow: none !important;
    }
  }
}
:host ::ng-deep .time-picker-small {
  width: 90px;
}

.no-slots {
  text-align: center;
  color: #666;
  font-style: italic;
  margin-top: 2rem;
}


/////////////////////////////////////////////////////////
$tick-width: 50px;
$tick-height: 30px;
$room-width: 150px;
$header-height: 50px;

.slots, .slot {
  z-index: 100;
}
.planning {
  position: relative; 
}
.room-grid, .slots {
  position: absolute;
}
.slots {
  top: $header-height;
  left: $tick-width;
}
.room-grid {
  top: 0;
  left: 0;
  display: grid;
  gap: 0;
  font-family: system-ui, Arial, sans-serif;
  border: 1px solid #cccccc;
  grid-template-columns: $tick-width repeat(var(--nb-rooms, 1), $room-width);
}

/* timeline */
.timeline-col {
  padding: 8px 0px;
  border-right: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  background: #fafafa;
  position: relative;
  margin-top: 41px;
  
}
.tick { 
  font-size: 12px; 
  color: #444; 
  width: $tick-width;
  text-align: center;
  padding-top: 5px;
  background-color: #fafafa;

}

:host {
  --tick-height: #{$tick-height}; /* export SCSS -> CSS var */
}

.tick, .tick-label, .tick-line, .slot { 
  height: $tick-height;
}

.header-cell {
  border-left: 1px solid #eee; 
  background-color: #fafafa;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: $header-height;
}

.action-header-cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.room-header-cell { 
  padding: 10px 5px; 
  font-weight: 600; 
}
.tick, .tick-line { 
  border-top: 1px solid #eaeaea ;
}
.tick-line { 
  position: relative;
  border-left: 1px solid #eaeaea; 
}

/* slot */
.slot {
  position: absolute;
  border-radius: 6px;
  padding: 1px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  color: #111;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  width: 150px;
  text-align: center;
  top:    calc($tick-height * var(--start-tick, 0)); 
  height: calc($tick-height * var(--duration, 0));
  left:   calc($room-width  * var(--room-col-idx, 0));
}
.slot:focus { outline: 2px solid #1976d2; }
.slot-title { font-weight: 600; font-size: 13px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.slot-time { font-size: 11px; opacity: 0.9; margin-top: 4px; }

/////////////////////////////////////////////////////////
.room-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    vertical-align: middle;
}
.room-form .form-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.room-label {
  margin-left: 10px;
}
.room-warning {
  color: red;
  width: 300px;
}