<div class="planning-structure-config">
  @if (days().length === 0) {
    <div class="no-days">
      <p>{{ 'CONFERENCE.CONFIG.PLANNING_STRUCTURE.NO_DAYS' | translate }}</p>
    </div>
    <button pButton label="{{ 'CONFERENCE.CONFIG.PLANNING_STRUCTURE.ADD_FIRST_DAY' | translate }}" icon="pi pi-plus" (click)="addFirstDay()"></button>
  } @else {
    <div class="flex nav-bar">
      <div class="nav-bar-left nav-bar-section">
        <div class="add-before nav-bar-item"><button pButton icon="pi pi-plus" size="small" class="ml-2" (click)="addDayBeforeCurrent()"></button></div>
        <div class="go-previous nav-bar-item">
          <button pButton icon="pi pi-angle-left" 
            [disabled]="!hasPreviousDay()"
            severity="info" size="small" class="ml-2" (click)="goToPreviousDay()"></button>
        </div>
      </div>
      <div class="nav-bar-center nav-bar-section ">
        <div class="delete-day nav-bar-item"><button pButton icon="pi pi-trash" size="small" severity="danger" class="ml-2" (click)="removeCurrentDay()"></button></div>
        <div class="date-picker nav-bar-item">
          @if (currentDay()) {
            <p-datepicker 
              [(ngModel)]="currentDayDate"
              [disabledDates]="disabledDates()"
              showIcon variant="filled"
              dateFormat="yy-mm-dd DD"
              placeholder="yyyy/mm/dd" pInputMask="9999/99/99"
              (onSelect)="changeCurrentDayDate($event)"
              size="small"/>
          }
        </div>
      </div>
      <div class="nav-bar-right nav-bar-section">
        <div class="go-next nav-bar-item">
          <button pButton [disabled]="!hasNextDay()" icon="pi pi-angle-right" severity="info" size="small" class="ml-2" (click)="goToNextDay()"></button>
        </div>
        <div class="add-after nav-bar-item"><button pButton icon="pi pi-plus" size="small" class="ml-2" (click)="addDayAfterCurrent()"></button></div>
      </div>
    </div>
    @if (currentDay()) {
      <app-day-structure 
        [day]="currentDay()!" 
        [days]="days()"
        [conferenceId]="conference()!.id"
        [rooms]="conference()!.rooms"
        [sessionTypes]="conference()!.sessionTypes"
        (dayChanged)="dayChanged($event)"
        (copyDayRequested)="copyDayToDay($event)"
        ></app-day-structure>

      
    }
  }
</div>
