/* PrimeNG theme and icons */
/* PrimeNG theme and icons are loaded via CDN in index.html */
@import 'primeicons/primeicons.css';

/* You can add global styles to this file, and also import other style files */
