/* PrimeNG theme and icons */
/* PrimeNG theme and icons are loaded via CDN in index.html */
@import 'primeicons/primeicons.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
}

a:hover {
  cursor: pointer;
}
