<section class="conference-config-container">
  <p-toast></p-toast>
  
  @if (conference(); as conf) {
  <div class="config-header">
    <div class="header-content">
      <h1>{{ sectionTitle() }}</h1>
    </div>
  </div>

  <div class="config-content">
    @switch (section()) {
      @case ('general') {
        <app-conference-general-config [conference]="conf"></app-conference-general-config>
      }
      @case ('session-types') {
        <app-conference-session-types-config [conference]="conf"></app-conference-session-types-config>
      }
      @case ('tracks') {
        <app-conference-tracks-config [conference]="conf"></app-conference-tracks-config>
      }
      @case ('rooms') {
        <app-conference-rooms-config [conference]="conf"></app-conference-rooms-config>
      }
      @case ('planning-structure') {
        <app-conference-planning-structure-config [conference]="conf"></app-conference-planning-structure-config>
      }
    }
  </div>

  <div class="page-actions">
    <button
      pButton
      type="button"
      label="{{ 'COMMON.CANCEL' | translate }}"
      icon="pi pi-times"
      class="p-button-secondary"
      [routerLink]="cancelLink()"
    ></button>
    <button
      pButton
      type="button"
      label="{{ 'COMMON.SAVE' | translate }}"
      icon="pi pi-check"
      class="p-button-success"
      (click)="onSave()"
    ></button>
  </div>
  } @else {
  <div class="loading-container">
    @if (loading()) {
    <p>{{ 'CONFERENCE.LOADING' | translate }}</p>
    } @else {
    <p>{{ 'CONFERENCE.NOT_FOUND' | translate }}</p>
    }
  </div>
  }
</section>
