.conference-view-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;


  .action-list-name {
    margin-top: 30px;
    width: 100%;
    text-align: left;
  }

  .action-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
  }

  .action {
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-decoration: none;
    border-radius: 12px;
    color: inherit;
    width: 150px;
    align-items: center;

    .action-icon {
      font-size: 5rem;
      color: #1976d2;
    }
  }

  .action-disabled {
    opacity: 0.7;
    cursor: default;
  }
  .session-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    text-align: left;

    .session-row {
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 12px;
      margin-bottom: 12px;
      width: 100%;

      .session-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .session-title {
          font-size: 1.2rem;
          font-weight: bold;
        }
        .session-status {
        }
      }
      .session-info {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 6px;
      }

      .session-type {
        display: flex;
        gap: 8px;
      }

      .session-speakers .session-label {
        font-weight: 600;
      }
      .session-feedback-icon {
        font-size: 1.5rem;
        margin-top: 20px;
        margin-right: 10px;
      }
    }
  }
}
