@let conf = conference();
<div class="conference-view-container">
  @if (!conf) {
    <p>{{ 'CONFERENCE.LOADING' | translate }}</p>
  } @else {
    @let range = conferenceDateRange(conf);
    @if (range && range.start && range.end) {
      <div class="conference-dates info-row">
        <fa-icon [icon]="faCalendarDays" />
        <strong>{{ 'HOME.CONF_DATES' | translate }}:</strong>
        {{ range.start | date : 'dd MMM yyyy' }}
        @if (range.start !== range.end) {
          - {{ range.end | date : 'dd MMM yyyy' }}
        }
      </div>
    }
    <div class="info-row">
      <fa-icon [icon]="faLocationDot" />
      {{ conf.location }}
    </div>
    @if (conf.description[lang()]) {
      <div class="info-row">
        <fa-icon [icon]="faCircleInfo" />
        <strong>{{ 'CONFERENCE.DESCRIPTION' | translate }}:</strong>
        <span>{{ conf.description[lang()] }}</span>
      </div>
    }
    @if (conf.website) {
      <div class="website info-row">
        <fa-icon [icon]="faGlobe" />
        <span>Site web:</span>
        <a [href]="conf.website" target="_blank" rel="noopener noreferrer">{{ conf.website }}</a>
      </div>
    }
    <div class="cfp">
      @if (cfpDateRange(conf); as cfpRange) {
        <div class="cfp-dates">
          <strong>CFP:</strong>
          {{ cfpRange.start | date : 'dd MMM yyyy' }} - {{ cfpRange.end | date : 'dd MMM yyyy' }}
        </div>
      }
      @if (conf.cfp.website) {
        <a [href]="conf.cfp.website" target="_blank" rel="noopener noreferrer">{{ conf.cfp.website }}</a>
      }
    </div>

    @if (currentPerson() && (visibleActivities().length > 0 || canManageConference())) {
    <div style="margin-top: 1rem;">
      
      <div class="action-list-name">Vos activités:</div>
      <div class="action-list"> 
        @for (activity of visibleActivities(); track activity.id) {
          <div class="action" [routerLink]="['/conference', conf.id, 'activities', activity.id, 'participation']">
            <i class="action-icon {{ activity.icon }}"></i>
            <div class="action-name">{{ activity.name }}</div>
          </div>
        }
      </div>
      
      <div class="action-list-name">Vos sessions:</div>
      <div class="action-list"> 
        <div class="action" [routerLink]="['/conference', conf.id, 'manage']">
            <div class="action-icon fa-solid fa-comments"></div>
            <div class="action-name">Feeback</div>
        </div>
      </div>
      @if (canManageConference()) {
        <div class="action-list-name">Organisateur:</div>
        <div class="action-list"> 
          <div class="action" [routerLink]="['/conference', conf.id, 'manage']">
            <div class="action-icon pi pi-cog"></div>
            <div class="action-name">Gerer la conference</div>
          </div>
        </div>
      }
    </div>
    }
  }
</div>
