.conference-view-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;


   .action-list-name {
    margin-top: 30px;
    width: 100%;
    text-align: left;
   }
  .action-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 12px;
  }

  .action {
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .action-icon {
      font-size: 5rem;
      color: #1976d2;
    }
  }
}

