<header class="main-menu">
  <div class="menu-left">
    <img routerLink="/"  ngOptimizedImage src="assets/logo.png" width="36" height="36" alt="Logo" class="logo" />
    @if (managedConferenceLogo()) {
      <img
        [routerLink]="managedConferenceManageRoute()"
        ngOptimizedImage
        [src]="managedConferenceLogo()"
        width="30"
        height="30"
        alt="Conference logo"
        class="managed-conference-logo"
      />
    }
    <a routerLink="/" class="app-title">Conf House</a>
  </div>
  <div class="menu-right">
    @if (person()) {
      <p-menu #avatarMenu [popup]="true" [model]="avatarMenuItems()" styleClass="avatar-menu-panel">
        <ng-template pTemplate="item" let-item>
          <a class="p-menu-item-link">
            @if (item.icon?.startsWith('assets/flags/')) {
              <img ngOptimizedImage class="flag menu-flag" [src]="item.icon" width="18" height="12" alt="" />
            } @else if (item.icon) {
              <span [class]="item.icon"></span>
            }
            <span class="p-menu-item-text">{{ item.label }}</span>
          </a>
        </ng-template>
      </p-menu>
      <button pButton type="button" class="avatar-btn" [label]="''" pTooltip="{{ 'MENU.PROFILE' | translate }}" (click)="avatarMenu.toggle($event)">
        <p-avatar icon="pi pi-user" shape="circle"></p-avatar>
      </button>
    } @else {
      <div class="desktop-auth-links">
        <a routerLink="/signup" class="menu-link">{{ 'MENU.SIGNUP' | translate }}</a>
        <a routerLink="/login" class="menu-link">{{ 'MENU.LOGIN' | translate }}</a>
      </div>
      <div class="mobile-auth-links">
        <a routerLink="/signup" class="menu-link menu-link-icon" [attr.aria-label]="'MENU.SIGNUP' | translate">
          <i class="pi pi-user-plus"></i>
        </a>
        <a routerLink="/login" class="menu-link menu-link-icon" [attr.aria-label]="'MENU.LOGIN' | translate">
          <i class="pi pi-sign-in"></i>
        </a>
      </div>
    }
  </div>
</header>
