<header class="main-menu">
  <div class="menu-left">
    @if (!isSingleConferenceMode()) {
      <img routerLink="/"  ngOptimizedImage src="assets/logo.png" height="50" alt="Logo" class="logo" />
    }
    <div class="app-title">
      @if (conferenceLogo() && conferenceId() && conferenceTitle()) {
        <img
          routerLink="/conference/{{ conferenceId() }}"
          ngOptimizedImage
          [src]="conferenceLogo()"
          width="30"
          height="30"
          alt="Conference logo"
          class="managed-conference-logo"
        />
        <a routerLink="/conference/{{ conferenceId() }}" >{{ conferenceTitle() }}</a>
        @if(isConferenceOrganizer()) {
        <span class="pi pi-cog"  style="font-size: 2rem" routerLink="/conference/{{ conferenceId() }}/manage"></span>
        }
      } @else {
        <span routerLink="/">Conf House</span>
      }
    </div>
  </div>
  <div class="menu-right">
    @if (person()) {
      <p-menu #avatarMenu [popup]="true" [model]="avatarMenuItems()" styleClass="avatar-menu-panel">
        <ng-template pTemplate="item" let-item>
          <a class="p-menu-item-link">
            @if (item.icon?.startsWith('assets/flags/')) {
              <img ngOptimizedImage class="flag menu-flag" [src]="item.icon" width="18" height="12" alt="" />
            } @else if (item.icon) {
              <span [class]="item.icon"></span>
            }
            <span class="p-menu-item-text">{{ item.label }}</span>
          </a>
        </ng-template>
      </p-menu>
      <button pButton type="button" class="avatar-btn" [label]="''" pTooltip="{{ 'MENU.PROFILE' | translate }}" (click)="avatarMenu.toggle($event)">
        <p-avatar icon="pi pi-user" shape="circle"></p-avatar>
      </button>
    } @else {
      <div class="desktop-auth-links">
        <a routerLink="/signup" [queryParams]="signupQueryParams()" class="menu-link">{{ 'MENU.SIGNUP' | translate }}</a>
        <a routerLink="/login" [queryParams]="loginQueryParams()" class="menu-link">{{ 'MENU.LOGIN' | translate }}</a>
      </div>
      <div class="mobile-auth-links">
        <a routerLink="/signup" [queryParams]="signupQueryParams()" class="menu-link menu-link-icon" [attr.aria-label]="'MENU.SIGNUP' | translate">
          <i class="pi pi-user-plus"></i>
        </a>
        <a routerLink="/login" [queryParams]="loginQueryParams()" class="menu-link menu-link-icon" [attr.aria-label]="'MENU.LOGIN' | translate">
          <i class="pi pi-sign-in"></i>
        </a>
      </div>
    }
  </div>
</header>
